/* Reset some default styles for the page */
body, ul {
    margin: 0 !important;
    padding: 0 !important;
}

/* Style the sidebar */
.sidebar {
    width: 240px;
    height: 100%;
    background-color: rgb(4, 27, 54);
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    padding-top: 20px !important;
    color: #fff !important;
    transition-duration: 0.5s;
}

.sidebar a:hover {
    transform: scale(1.2) !important; /* Makes the item slightly bigger on hover */
}

/* Style the logo */
.logo {
    text-align: center !important;
    margin: 5px 43px !important;
    width: 150px !important;
}

.ratio{
    font-size: x-large !important;
    text-align: center !important;
    font-weight: bold !important;
}

.inner-ratio{
    font-weight: bold !important;
}

.prod{
    text-align: center;
}

/* Style the menu items */
.lista {
    list-style-type: none !important;
    margin-top: 10px !important;
    background-color: rgb(7, 43, 83) !important;
}

.top3{
    list-style-type: none !important;
    margin-top: 0px !important; 
}

.list-det{
    padding: 10px 20px !important;
    color:black !important;
    text-decoration: none !important;
}

.sell-title{
    margin-top: 10px !important;
}

.menu {
    padding: 18px 20px !important;
}

.menu-item {
    text-decoration: none !important;
    font-family: sans-serif !important;
    color: #fff !important;
    display: block !important;
    margin-left: 10px !important;
}

.tarjeta{
    margin: 10px !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;
}

.principal{
    margin-left: 120px !important;
}

.titulo{
    width: 270px !important;
}

.metrica{
    width: 100% !important;
    box-shadow: 5px 5px 5px lightgray !important;
}

.main-det{
    margin: 25px !important;
    box-shadow: 5px 5px 5px lightgray !important;
}
/* Style the icons using Font Awesome */
i {
    margin-right: 10px !important;
}

/* Style the content area */
.content {
    margin-left: 250px; /* Same width as the sidebar */
    padding: 20px;
}

.list-group-item {
    margin-bottom: 20px;
}

.company-name {
    font-weight: bold;
}

.link{
    text-decoration: none !important;
    color: black !important;
}

.top-link{
    margin-bottom: 5px !important;
}

.news-links {
    margin-top: 10px;
}

.template-speech {
    margin-top: 10px;
}

.list-group-item {
    margin-bottom: 20px;
}

.company-name {
    font-weight: bold;
}

.news-links {
    margin-top: 10px;
}

.template-speech {
    margin-top: 10px;
}

.detalle{
    max-width: 800px !important;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        position: static;
    }
    .content {
        margin-left: 0;
    }
}
